
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 32px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
